.project_container {
  background-color: var(--black);
  background-image: url("../../../public/waveBg.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.project_heading {
  color: var(--pure-white);
  /* top: -50px; */
  font-size: 5rem;
  top: 20%;
}

.carousel_container {
  width: 100vw;
  height: 250px;
  bottom: 15%;
  overflow: hidden;
}

.carousel_track {
  overflow-x: scroll;
  width: 100vw;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-500px * 3));
  }
}

.carousel {
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  margin: auto 10px;
  animation: scroll 10s linear infinite;
  scroll-behavior: smooth;
}

.carousel_track:hover .carousel {
  animation-play-state: paused;
}

.carousel_track::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.card {
  border-radius: 20px;
  object-fit: cover;
  /* backface-visibility: hidden; */
  opacity: 1;
  transition: 0.9s ease;
  max-width: 500px;
  height: 250px;
  border: solid .3rem var(--orange);
}

.project_desc {
  top: 30%;
  left: 10%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  color: var(--pure-white);
  width: fit-content;
  opacity: 0;
  cursor: default;
  transition: 1s ease;
}

.project_desc h6 {
  font-size: 1.5rem;
}

.project_desc h4 {
  font-size: 2rem;
}

.carousel:hover .card {
  filter: contrast(10%);
  filter: saturate(10%);
  filter: brightness(30%);
  cursor: pointer;
}

.carousel:hover .project_desc {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 431px) {
  .project_heading{
    font-size: 3rem;
    top: 30%;
  }

  .carousel_container{
    height: 200px;
    bottom: 20%;
  }

  .carousel{
    width: 150px;
    height: 200px;
    margin: auto 5px;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 3));
    }
  }

  .card{
    max-width: 150px;
    height: 200px;
    border-width: .2rem;
    border-radius: 15px;
  }

  .project_desc h6 {
    font-size: .5rem;
  }
  
  .project_desc h4 {
    font-size: .9rem;
  }
}