.headline-container {
  background-color: var(--black);
  width: 100vw;
  height: 89.5vh;
}

.main-container {
  width: 85vw;
  /* height: 89vh; */
}

.main-headline {
  height: fit-content;
  width: fit-content;
}

.profile-pic {
  /* width: 15.625rem;
  height: 15.625rem; */
  width: 25%;
  height: auto;
  border-radius: 15.625rem;
}

.tagline-container {
  width: fit-content;
}

.headline-desc {
  height: 70px;
}

h1.headline {
  background: linear-gradient(10deg, red, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colors 5s linear infinite;
  font-size: 4.6875rem;
  color: var(--pure-white);
  width: fit-content;
  cursor: default;
}

/* @keyframes colors {
  
} */

p.headline-desc {
  font-size: 1.5rem;
  color: var(--pure-white);
  max-width: 23.5625rem;
  cursor: default;
}

.star-top {
  right: 250px;
  top: 50px;
  animation-delay: 1s;
}

.star-left {
  left: 0;
  top: 120px;
  animation-delay: 4s;
}

.star-bottom {
  bottom: 30px;
  left: 110px;
  animation-delay: 3s;
}

.star-right {
  bottom: 120px;
  right: 0;
}

.star-glow {
  animation: blink 4s infinite;
}

.star-glow.star-top {
  animation-delay: -5s;
}
.star-glow.star-left {
  animation-delay: -15s;
}
.star-glow.star-right {
  animation-delay: -40s;
}
.star-glow.star-bottom {
  animation-delay: -30s;
}

@keyframes blink {
  0% {
    opacity: 0;
    filter: none;
  }

  50% {
    opacity: 100%;
    filter: drop-shadow(0px 0px 1.5240000486373901px #f1f6f5)
      drop-shadow(0px 0px 3.0480000972747803px #f1f6f5)
      drop-shadow(0px 0px 10.668000221252441px #f1f6f5)
      drop-shadow(0px 0px 21.336000442504883px #f1f6f5)
      drop-shadow(0px 0px 36.57600021362305px #f1f6f5)
      drop-shadow(0px 0px 64.00800323486328px #f1f6f5);
  }

  100% {
    opacity: 0;
    filter: none;
  }
}

.keep-scroll-container {
  width: fit-content;
  height: 55px;
  overflow: hidden;
  align-items: start;
}

.keep-scroll-icon {
  font-size: 2.9rem;
  color: var(--orange);
  animation: down 1.5s linear infinite;
}

@keyframes down {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

.keep-scroll-text {
  width: 50%;
  color: var(--pure-white);
  font-size: 0.9rem;
}

@media (max-width: 431px) {
  .headline-container{
    height: 85vh;
  }
  
  .main-headline {
    flex-direction: column;
    text-align: center;
    row-gap: 0.9375rem;
  }

  .profile-pic {
    width: 60%;
  }

  h1.headline {
    font-size: 2.5rem;
  }

  p.headline-desc {
    font-size: 1rem;
    max-width: 18.8125rem;
  }

  .star-top {
    right: 250px;
    top: 30px;
    width: 10%;
  }

  .star-left {
    left: 0;
    top: 150px;
    width: 15%;
  }

  .star-bottom {
    top: 15%;
    left: 70%;
    width: 10%;
  }

  .star-right {
    bottom: 50%;
    right: 0;
    width: 20%;
  }

  .keep-scroll-container {
    height: 35px;
  }

  .keep-scroll-icon {
    animation: down 1.5s linear infinite;
    font-size: 2rem;
  }

  .keep-scroll-text {
    width: 50%;
    font-size: 0.7rem;
  }

  @keyframes down {
    0% {
      transform: translateY(-35px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(35px);
    }
  }
}
