.desc_section {
  background-color: var(--black);
  padding: 12% 0;
}

.desc_with_scrib {
  /* max-height: fit-content; */
  max-width: 36%;
  text-align: left;
  gap: 60px;
}

.desc_container {
  max-width: 83%;
  height: fit-content;
  cursor: default;
}

.heading_text {
  color: var(--pure-white);
  font-size: 2.25rem;
  letter-spacing: 0.8px;
  text-align: left;
}

span.heading_name {
  color: var(--orange);
  font-weight: 800;
}

.desc_paragraf{
  gap: 10px;
}

.desc_text {
  color: #f1f6f5;
  font-size: 1.25rem;
  white-space: pre-line;
  letter-spacing: .7px;
  /* height: 130px; */
}

.vector {
  display: inline-block;
  position: absolute;
  width: fit-content;
  height: fit-content;
  opacity: 90%;
}

.vector_left {
  top: 200px;
  left: 250px;
}

.vector_right {
  top: 150px;
  right: 230px;
}

.scrib_vector {
  opacity: 85%;
}
