.desc_section {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
}

.desc_with_scrib {
  width: 100vw;
  height: auto;
  text-align: left;
  gap: 60px;
  position: relative;
}

.desc_container {
  width: 36vw;
  /* height: 100vh; */
  cursor: default;
}

.heading_text {
  color: var(--pure-white);
  font-size: 2.25rem;
  letter-spacing: 1px;
  /* text-align: center; */

}

span.heading_name {
  color: var(--orange);
  font-weight: 800;
}

.desc_paragraf{
  gap: 10px;
  width: 32vw;
}

.desc_text {
  color: #f1f6f5;
  font-size: 1.25rem;
  white-space: pre-line;
  letter-spacing: .7px;
  /* height: 130px; */
}

.vector {
  display: inline-block;
  position: absolute;
  width: fit-content;
  height: fit-content;
  opacity: 90%;
}

.vector_left {
  top: 0;
  left: 15%;
}

.vector_right {
  top: 0;
  right: 18%;
}

.scrib_vector {
  opacity: 85%;
  width: 40%;
}
